
* {
margin: 0;
padding: 0;
}

body {
    text-align: center;
    font-size: 24px;
}
 
.container { 
    display: flex;
    width: 600px;
    height: 400px;
    margin: auto;
    flex-wrap: wrap;
    border: 1px solid black;

}

.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: lightgreen;
    width: 600px;

}

.bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    width: 600px;
}

#session {
    width: 300px;
}

#break {
    width: 300px;
}

.arrow {
    width: 100px;
}

.time {
    width: 100px;
}

#timer {
    width: 600px;
}

button {
    width: 180px;
    height: 50px;
    margin: 10px;
}